/** Text Color */
$primary-color: #251F5D;
$light-color: #f4f4f4;
$dark-color: #34495e;
$hover-color: #9d9d9d;
$light-yellow: #fcd800;
$light-red: #fc000d;

/** Background Color */
$primary-bg: #251F5D;
$light-bg: #efefef;
$dark-bg: #d2d7d3;
$light-yellow-bg: #fcd800;

body {
    box-sizing: border-box;
}
/** Navbar Styling */
.header {
    color: $light-color;
    background-color:#251F5D;
    font-size: 14px;

    p {
        margin-bottom: 0;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.footer {
    .footer-section {
        color: $light-color;
        background-color: $primary-bg;
        padding-top: 20px;
        padding-bottom: 20px;

        p {
            font-size: 16px;
            margin-bottom: 0;
            float: left;
        }

        span {
            font-size:20px;
            float:right;
        }
    }
}

section {
    color: $primary-color;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 0;

    @media (max-width: 800px) {
        padding: 35px 0;
    }
}

.content-3 {
    background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
    }

    p {
        font-size: 20px;
        font-weight: 500;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1em;
        text-align: center;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                font-weight: 800;
                font-size: 15px;
                color: $primary-color;
                margin: 15px 0 25px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: $dark-color;
            }

        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 1em;
            grid-auto-rows: minmax(220px, auto);
        }
    }
}

.content-4 {
    background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    h2 {
        font-size: 28px;
        font-weight: 600;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1em;
        text-align: center;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                font-weight: 800;
                font-size: 17px;
                color: $primary-color;
                margin: 15px 0 5px;
                text-align: left;
            }

            ul li {
                text-align: left;
                font-size: 16px;
            }

        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 1em;
            grid-auto-rows: minmax(220px, auto);
        }
    }
}

.content-5 {
    color: $dark-color;
    text-align: left;

    h3 {
        font-weight: 600;
        color: $primary-color;
        margin-bottom: 15px;
    }

    .btn-primary {
        font-weight: 600;
        color: $light-color;
        background-color: $primary-bg;
        border: 1.5px solid $primary-color;
        transition-duration: 1s;
        transition-property: color background-color;

        &:hover {
            color: $primary-color;
            background-color: $light-bg;
        }
    }
}

.content-1 {
    font-weight: 400;
    color: $primary-color;

    title {
        .col-md-6 {
            padding-bottom: 15px;
            position: center;
        }
    }

    .hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    .info {
        padding:20px;
        text-align: justify;
        font-size: 17px;
        font-weight: 550;
    }
}

.content-2 {
    background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
    }

    p {
        font-size: 20px;
        font-weight: 500;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1em;
        text-align: center;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                font-weight: 800;
                font-size: 16px;
                color: $primary-color;
                margin: 15px 0 25px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: $primary-color;
            }

        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 1em;
            grid-auto-rows: minmax(220px, auto);
        }
    }
}
