/** Text Color */
$primary-color: #251F5D;
$light-color: #f4f4f4;
$dark-color: #34495e;
$hover-color: #9d9d9d;
$light-yellow: #fcd800;
$light-red: #fc000d;

/** Background Color */
$primary-bg: #007730;
$light-bg: #efefef;
$dark-bg: #d2d7d3;
$light-yellow-bg: #fcd800;

body {
    box-sizing: border-box;
}
/** Navbar Styling */
/*.header {
    color: $light-color;
    background-color: $primary-color;
    font-size: 14px;
    //#000371
    //#7DE07A
    //#007730
    p {
        margin-bottom: 0;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}*/

.footer {
    .footer-section {
        color: $light-color;
        background: linear-gradient(to bottom, #007730 100%, #99ff99 100%);
        //background: linear-gradient(to bottom, #007730 0%, #99ff99 100%);
        padding-top: 20px;
        padding-bottom: 20px;
        p {
            font-size: 16px;
            margin-bottom: 0;
            float: left;
        }

        span {
            font-size:20px;
            float:right;
        }
    }
}


.page-title {
    background: linear-gradient(to bottom right, #007730 0%, #99ff99 200%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: $light-bg;

    h3 {
        font-size: 26px;
        font-weight: 600;
        margin: 0;
    }
}
section {
    color: $primary-color;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;

    @media (max-width: 800px) {
        padding: 35px 0;
    }
}

.content-3 {
   background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
    }

    p {
        font-size: 20px;
        font-weight: 500;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        text-align: center;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                font-weight: 800;
                font-size: 15px;
                color: $primary-color;
                margin: 15px 0 25px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: $dark-color;
            }

        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 1em;
            grid-auto-rows: minmax(220px, auto);
        }
    }
}

.content-4 {
    background: linear-gradient(to bottom, #007730 0%, #99ff99 100%);
    //background: linear-gradient(to bottom, #007730 0%, #99ff99 62%);
    //background: linear-gradient(to bottom right, #007730 0%, #99ff99 69%);
    color: $light-color;

    hr {
        border: 1px solid $light-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    h2 {
        font-size: 28px;
        font-weight: 600;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        text-align: center;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                font-weight: 800;
                font-size: 17px;
                color: $primary-color;
                margin: 15px 0 5px;
                text-align: left;
            }

            ul li {
                color: $primary-color;
                text-align: left;
                font-size: 16px;
            }

        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 1em;
            grid-auto-rows: minmax(220px, auto);
        }
    }
}

.content-5 {
   background-color: white;
   text-align: left;
    
    h3 {
        font-weight: 600;
        color: $primary-color;
        margin-bottom: 15px;
    }

    .btn-primary {
        font-weight: 600;
        color: $light-color;
        background-color: $primary-bg;
        border: 1.5px solid $primary-color;
        transition-duration: 1s;
        transition-property: color background-color;

        &:hover {
            color: $primary-color;
            background-color: $light-bg;
        }
    }
}

.content-1 {
    font-weight: 400;
    color: $primary-color;

    title {
        .col-md-6 {
            padding-bottom: 15px;
            position: center;
        }
    }

    .hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    .info {
        padding:20px;
        text-align: justify;
        font-size: 17px;
        font-weight: 550;
    }
}

.content-2 {
    background: linear-gradient(to bottom, #007730 0%, #99ff99 100%);
    //background: linear-gradient(to bottom, #007730 0%, #99ff99 62%);
    //background: linear-gradient(to bottom right, #007730 0%, #99ff99 69%);
    color: $light-color;

    hr {
        border: 1px solid $light-bg;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
    }

    p {
        font-size: 20px;
        font-weight: 500;
    }

    &-wrapper {
        //grid-template-columns: repeat(6, 1fr);
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        text-align: center;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                font-weight: 800;
                font-size: 16px;
                color: $primary-color;
                margin: 15px 0 25px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: $primary-color;
            }

        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 1em;
            grid-auto-rows: minmax(220px, auto);
        }
    }
}

.product {
    background-color: white;
        
    img {
        padding-bottom: 20px;
    }

    h3 {
        text-align: center;
    }

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }
    

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 2em;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                font-weight: 800;
                font-size: 23px;
                color: $primary-color;
                margin: 15px 0 5px;
                text-align: left;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: $primary-color;
                text-align: left;
            }
        }
        span {
            float:right;
        }

    }

    @media (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1em;
        grid-auto-rows: minmax(220px, auto);
    }
}


.rrlcproductlist {
    background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }
    

    h2 {
        font-size: 30px;
        font-weight: 600;
    }
    
    &-wrapper {
        //grid-template-columns: repeat(6, 1fr);
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        text-align: center;
    
        .card {
            background-color: lighten(white, 15%);
            padding: 20px;
    
            h5 {
                font-weight: 800;
                font-size: 16px;
                color: $primary-color;
                margin: 15px 0 10px;
            }

            p {
                color: $primary-color;
                font-size: 15px;
                font-weight: 500;
            }

        }
    }

}

.specialproduct {
    background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }
    
        
    img {
        padding-bottom: 20px;
    }

    h2 {
        font-size: 25px;
        font-weight: 600;
        color: $primary-color;
        justify-content: space-between;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 2em;

        .card {
            border: 1px solid $primary-color;
            padding: 15px;
            border-radius: 15px;
            //box-shadow: 2px 2px $primary-bg;
            background-color: lighten(white, 15%);

            h5 {
                font-weight: 800;
                font-size: 23px;
                color: $primary-color;
                margin: 0px 0 5px;
                text-align: center;
                justify-content: space-between;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: $primary-color;
                text-align: left;
            }
        }
        span {
            font-size: 30px;
        }

    }

    @media (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1em;
        grid-auto-rows: minmax(220px, auto);
    }
}

.keminproduct {
    background-color: white;
  
    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }
        
    img {
        padding-bottom: 20px;
    }

    h2 {
        font-size: 25px;
        font-weight: 600;
        color: $primary-color;
        justify-content: space-between;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                font-weight: 800;
                font-size: 23px;
                color: $primary-color;
                margin: 15px 0 5px;
                text-align: center;
                justify-content: space-between;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: $primary-color;
                text-align: left;
            }
        }
        span {
            padding-top: 40px;
            font-size: 30px;
            float:right;
        }

    }

    @media (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1em;
        grid-auto-rows: minmax(220px, auto);
    }
}

.cbsproduct {
    background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }
    
        
    img {
        padding-bottom: 20px;
    }

    h2 {
        font-size: 25px;
        font-weight: 600;
        color: $primary-color;
        justify-content: space-between;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 2em;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                font-weight: 800;
                font-size: 23px;
                color: $primary-color;
                margin: 15px 0 5px;
                text-align: center;
                justify-content: space-between;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: $primary-color;
                text-align: left;
            }
        }
        span {
            padding-top: 30px;
            font-size: 30px;
            float:right;
        }

    }

    @media (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1em;
        grid-auto-rows: minmax(220px, auto);
    }
}


.category {
    background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }
    
        
    img {
        padding-bottom: 20px;
    }

    h2 {
        font-size: 25px;
        font-weight: 600;
        color: $primary-color;
        justify-content: space-between;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 2em;

        .card {
            border: 1px solid $primary-bg;
            padding: 15px;
            border-radius: 15px;
            box-shadow: 5px 10px $primary-bg;
            background-color: lighten(white, 15%);

            h5 {
                font-weight: 800;
                font-size: 23px;
                color: $primary-color;
                margin: 15px 0 5px;
                text-align: center;
                justify-content: space-between;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: $primary-color;
                text-align: left;
            }
        }
        span {
            font-size: 30px;
            float:right;
        }

    }

    @media (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1em;
        grid-auto-rows: minmax(220px, auto);
    }
}

.adisseoproduct {
    background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    h2 {
        font-size: 25px; 
        font-weight: 600;
    }

    p {
        font-size: 20px;
        font-weight: 500;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3em;
        grid-row-gap: 3em;
        text-align: center;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                font-weight: 800;
                font-size: 15px;
                color: $primary-color;
                margin: 15px 0 25px;
            }

            p {
                font-size: 15px;
                font-weight: 400;
                color: $primary-color;
                justify-content: space-between;
            }

        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 1em;
            grid-auto-rows: minmax(220px, auto);
        }
    }
 }

 .newsarticle { 
    background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    h2 {
        font-size: 25px; 
        font-weight: 600;
    }
    .card-body {
        text-align: left;
    }

    .card-header {
        background: linear-gradient(to bottom right, #007730 0%, #99ff99 200%);
        color: $light-bg;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 3em;
        grid-row-gap: 1em;
        text-align: left;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                margin: 15px 0 25px;
            }

            p {
                text-align: left;
                padding: 10px 5px;
                font-size: 16px;
                font-weight: 400;
                color: $primary-color;
                justify-content: space-between;

            }

        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 1em;
            grid-auto-rows: minmax(220px, auto);
        }
    }
 }


 .newsarticleblog {
    background-color: white;

    hr {
        border: 1px solid $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    h2 {
        font-size: 25px; 
        font-weight: 600;
    }
    .card-body {
        text-align: left;
    }
    span {
        font-size: 10px;
    }
    .card-header {
        background: linear-gradient(to bottom right, #007730 0%, #99ff99 200%);
        color: $light-bg;
    }
    
    
    &-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 3em;
        grid-row-gap: 1em;
        text-align: left;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            .bg-color {
                background: linear-gradient(to bottom right, #007730 0%, #99ff99 200%);
                padding: 20px;
                color: $light-bg;

                p {
                    color: $light-bg;
                }
            }
            img {
               
                padding-bottom: 20px;
            }


            h5 {
                margin: 15px 0 25px;
            }

            p {
                text-align: left;
                padding: 10px 5px;
                font-size: 16px;
                font-weight: 400;
                color: $primary-color;
                justify-content: space-between;
            }

            span {
                font-size: 14px;
            }
            
            hr {
                border: 1px solid $primary-color;
                margin-top: 15px;
                margin-bottom: 15px;
                width: 100%;
            }

        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 1em;
            grid-auto-rows: minmax(220px, auto);
        }
    }
}
//Jesa
.productblog-1 {

    background: linear-gradient(to bottom right, #007730 0%, #99ff99 200%);
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    padding: 20px;
    color: $light-bg;

    h3 {
        font-size: 26px;
        font-weight: 600;
        margin: 0;
        text-align: left;
    }

    p{
        text-align: left;
    }
}
//Jesa
.productblog-2 {

    //background: linear-gradient(to bottom right, #007730 0%, #99ff99 200%);
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    //padding: 20px;
    //color: $light-bg;

    h3 {
        font-size: 26px;
        font-weight: 600;
        margin: 0;
        text-align: left;
    }

    p {
        text-align: left;
    }

    .list {
        padding-left: 15px;
    }
}
//Jesa
.productblog-3 {

    background: linear-gradient(to bottom right, #007730 0%, #99ff99 200%);
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    padding: 20px;
    color: $light-bg;

    h3 {
        font-size: 26px;
        font-weight: 600;
        margin: 0;
        text-align: left;
    }

    p{
        text-align: left;
    }
}
//Jesa
.productblog-4 {
    background-color: white;
        
    img {
        padding-bottom: 20px;
    }

    .spec {
        text-align: left;
    }

    .info-1 {
        padding-left: 25px;
    }

    .info-2 {
        text-align: justify;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .card {
            background-color: lighten(white, 15%);
            padding: 20px;
        }
        span {
            padding-top: 40px;
            font-size: 30px;
            float:right;
        }

    }

    @media (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1em;
        grid-auto-rows: minmax(220px, auto);
    }
}
//Jesa
.productblog-5 {
    background-color: white;

    .row {
        padding: 10px 10px 10px 10px;
    }

    hr {
        border: 1px solid $primary-bg;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
    }

    h2 {
        font-size: 25px; 
        font-weight: 600;
    }
    .card-body {
        text-align: left;
    }

    .card-header {
        text-align: left;
        background: linear-gradient(to bottom right, #007730 0%, #99ff99 200%);
        color: $light-bg;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 3em;
        grid-row-gap: 1em;
        text-align: left;

        .card {
            background-color: lighten(white, 15%);
            padding: 20px;

            h5 {
                margin: 15px 0 25px;
            }

            p {
                text-align: left;
                padding: 10px 5px;
                font-size: 16px;
                font-weight: 400;
                color: $dark-color;
                justify-content: space-between;

            }

        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 1em;
            grid-auto-rows: minmax(220px, auto);
        }
    }
 }

